// colors
$primary: #846424;
// $secondary: darkblue;
// $info: lightblue;
// $success: green;
// $danger: red;
// fonts

// others
$leftbar-background: #262522;

// Fonts
$base-font: "Montserrat", sans-serif;

// layout
$left-nav-width: 96px;

// Modals
$modal-strips: #262522;
$modal-background: #1a1917;
